@font-face {
    font-family: LivingStream-Light;
    src: url(/fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: LivingStream-Regular;
    src: url(/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: LivingStream-Bold;
    src: url(/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: LivingStream-SemiBold;
    src: url(/fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: LivingStream-Alt-Light;
    src: url(/fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: LivingStream-Alt-Regular;
    src: url(/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: LivingStream-Alt-Bold;
    src: url(/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: LivingStream-Alt-SemiBold;
    src: url(/fonts/PoiretOne-Regular.ttf);
}