.container-website-info {
    float: left;
}

.container-footer-nav {
    float: right;
    position:absolute;
    top:0px;
    right:0px;
}

.site-footer {
    /*background: linear-gradient(60deg, rgba(4, 8, 46, 0.95) 40%, rgba(26, 35, 126, 0.87) );*/
    background: linear-gradient(60deg,rgb(46 83 134) 40%, rgb(97 166 231) );
    height: auto;
    padding: 40px 0;
}

.social-media-container {
    text-align: left;
    padding: 30px 0;
}

.social-link {
    display: inline-block;
    color: white !important;
    line-height: 22px;
    text-decoration: none;
    margin: 0px 18px 0 0;
}

    .social-link:hover > .social-text {
        text-decoration: underline;
    }

.social-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.social-text {
    display: inline-block;
    vertical-align: middle;
}


.footer-logo-title {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0;
    position: relative;
    font-family: LivingStream-Regular;
    border-bottom-style: solid;
    border-width: thin;
    border-top-style: solid;
    border-color: #FFEB3B;
    width: 160px;
    text-align: center;
}

.footer-logo-container {
    width: 160px;
    color: white;
}

.footer-logo-site {
    font-size: 8px;
    margin-left: 10px;
    letter-spacing: 2px;
    line-height: 3;
}

.footer-menu--section {
    display: block;
}

    .footer-menu--section + .footer-menu--section {
        margin-left: 60px;
    }

.footer-menu {
    display: flex;
}

.footer-menu--section-title {
    text-decoration: none;
    color: white;
    text-align: left;
    font-family: LivingStream-SemiBold;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-menu--item {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    margin-top: 16px;
}

    .footer-menu--item:hover {
        color: #FFEB3B;
    }

.site-copyright {
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    font-size: 13px;
}
