* {
    font-family: LivingStream-Regular;
}

b, strong, h1, h2, h3, h4, h5, h6 {
    font-family: LivingStream-Bold;
}

form {
    margin: 0;
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.site-content {
    min-height: calc(100vh - 110px - 150px);
}

.content-container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}

@media(max-width: 1280px) {
    .content-container {
        width: 100%;
    }
}

.fit-picture {
    width: 300px;
}

.main-section {
    padding-top: 30px;
    padding-bottom: 100px;
}

.main-page-title {
    margin-bottom: 3rem;
    font-size: 32px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.direction-unset {
    flex-direction: unset;
}

.direction-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-around;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.margin-auto {
    margin: 0 auto;
}

select {
    line-height: 28px;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #283593;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

.btn {
    font-size: 16px;
    font-family: Bold;
    border-radius: 6px;
    transition: background .1s ease-in-out;
}

.btn-main {
    padding: 18px 32px;
    border: 0;
}

.alert {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.alert-success {
    background: #00ff8b;
}

.alert > div {
    font-family: Alt-SemiBold;
    font-size: 15px;
}