<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4cfb8fe-bfab-4722-983c-622323f219dc" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-09-03T14:44:23</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <copyrights>
      <Value><![CDATA[]]></Value>
    </copyrights>
    <socialMediaLinks>
      <Value><![CDATA[]]></Value>
    </socialMediaLinks>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>