<?xml version="1.0" encoding="utf-8"?>
<Media Key="718bb0a4-89bc-44f0-ab6e-74bb985105e7" Alias="Calvary Chapel Lexington 3 980X582" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CalvaryChapelLexington3980X582</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-02T13:37:48</CreateDate>
    <NodeName Default="Calvary Chapel Lexington 3 980X582" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ukyiw2n2/calvary-chapel-lexington-3-980x582.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>