<?xml version="1.0" encoding="utf-8"?>
<Media Key="5210dc5e-924d-4b99-aefc-98dbf8ee44f2" Alias="Ci Cd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CiCd</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-04T18:38:40</CreateDate>
    <NodeName Default="Ci Cd" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ldobausn/ci-cd.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>