<?xml version="1.0" encoding="utf-8"?>
<Media Key="17fe1df5-6b4c-49cb-ac4f-a2035c644480" Alias="close" Level="2">
  <Info>
    <Parent Key="9bda94d9-90cc-4152-aa78-c7c02f7069d5">svg</Parent>
    <Path>/svg/close</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T10:32:38</CreateDate>
    <NodeName Default="close" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yqop2f0m/icons8-close.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>