<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcd3f7ea-3320-453b-98d7-17e437ff1b47" Alias="Depositphotos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Depositphotos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-31T17:33:02</CreateDate>
    <NodeName Default="Depositphotos" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3t1nh5ba/depositphotos_.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>