<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2ffc3e2-6d59-4e61-8265-9423cde8c9bc" Alias="Instagram Icon.Png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/InstagramIconPng</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-02T16:30:53</CreateDate>
    <NodeName Default="Instagram Icon.Png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5lbp5isz/instagram_iconpng.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>