<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1d8f4b8-f5b2-43cf-badb-ed25a1e926c3" Alias="Instagram Logo 2016 64" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InstagramLogo201664</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-02T16:36:15</CreateDate>
    <NodeName Default="Instagram Logo 2016 64" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rh0nr2ns/instagram_logo_2016-64.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>