<?xml version="1.0" encoding="utf-8"?>
<Media Key="94e31e61-9abb-4587-b53c-cd1a56a8f224" Alias="livingstream_video" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/livingstream_video</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-03-26T16:29:41</CreateDate>
    <NodeName Default="livingstream_video" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jepohff1/livingstream_церквальвів.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>