<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eb8b965-6b8e-43d2-8579-5f964fa155d5" Alias="Logo Living Stream" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoLivingStream</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-26T12:02:13</CreateDate>
    <NodeName Default="Logo Living Stream" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mo2lq1uo/logo-living-stream.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>