<?xml version="1.0" encoding="utf-8"?>
<Media Key="53312545-eedc-4520-9c85-1c07b249b82a" Alias="Logo_2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo_2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-05T15:42:45</CreateDate>
    <NodeName Default="Logo_2" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/imsdcu42/logo_strream.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>