<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce3fcf31-b1df-4532-9f51-ed4031ac936a" Alias="Logo Living Stream Outfone" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoLivingStreamOutfone</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-26T15:14:45</CreateDate>
    <NodeName Default="Logo Living Stream Outfone" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhhd5tw5/logo-living-stream-outfone.tif]]></Value>
    </umbracoFile>
  </Properties>
</Media>