<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1811a4f-c0b1-4b1d-abcd-041af310f590" Alias="Minster Church Of St" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MinsterChurchOfSt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-25T16:18:50</CreateDate>
    <NodeName Default="Minster Church Of St" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jenidynr/minster-church-of-st.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>