<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bc8d986-efd7-4dd8-9bad-3acf61cfac4a" Alias="Social Media, Instagram, Color, Instagram New Design, Logo Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialMediaInstagramColorInstagramNewDesignLogoIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-02T16:43:31</CreateDate>
    <NodeName Default="Social Media, Instagram, Color, Instagram New Design, Logo Icon" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w5mnq44x/social-media-instagram-color-instagram-new-design-logo-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>