<?xml version="1.0" encoding="utf-8"?>
<Media Key="420a7f8f-99d9-4818-8264-4a85fabcb270" Alias="Sun day school" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SunDaySchool</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-01T16:41:29</CreateDate>
    <NodeName Default="Sun day school" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rf5buqwz/ssc.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>