<?xml version="1.0" encoding="utf-8"?>
<Media Key="d91bc51b-0f50-4718-acb5-f2699565ecf0" Alias="Test (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-21T14:09:59</CreateDate>
    <NodeName Default="Test (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dxcbxwkq/test.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>