<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5276eaf-7f0d-4ac8-a2a4-8942bd0ab04b" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-11-02T16:47:32</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q3xcpzin/istockphoto-673069785-640_adpp_is.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>