<?xml version="1.0" encoding="utf-8"?>
<Media Key="04e38f65-c60e-41f4-9353-a1ea7e8416ec" Alias="UKU" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UKU</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-26T17:29:23</CreateDate>
    <NodeName Default="UKU" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mohpgbao/ivn_7731.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>