<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b1a2c1a-035c-466a-ab7c-a3c056610b2d" Alias="Молитва 16" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Molitva16</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-31T17:31:57</CreateDate>
    <NodeName Default="Молитва 16" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aiwbug02/молитва_16.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>