

@model IPublishedContent
@using Stream.UmbracoServices.Interfaces
@using Microsoft.AspNetCore.Mvc
@using Umbraco.Cms.Core.Media
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions

@inject IUrlHelper Url
@inject IImageUrlGenerator UrlGenerator
@inject IMediaService MediaService
@inject IUmbracoPageManager PageManager

@{
    var onHomePage = (bool)(ViewBag.OnHomePage ?? false);
    var home = PageManager.GetRoot<Home>();
}

<div class="site-header">

    @if (home is not null && (home.BackgroundImage?.HasImage() ?? false))
    {
        
        var backgroundImageUrl = Url.GetCropUrl(home.BackgroundImage, "Image");
        var backgroundImageUrl1 = home.BackgroundImage;
  
        <style>
            .nav-background {
                background-image: url("@backgroundImageUrl");
            }
        </style>

        <div class="nav-background"></div>
    }

    <div class="content-container header-container clearfix">
        <a href="@home.Url()">
            <div class="logo-container">
                <div class="logo-title">Living Stream</div>
                <div class="logo-site">www.lvivchurch.com</div>
            </div>
        </a>

        @await Html.PartialAsync("_Navigation", Model)
    </div>


</div>