<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ada9106-9578-41c1-b32f-ac8bab9d3feb" Alias="Background Color Settings - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Background Color Settings - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>