<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a74344b4-4113-4986-a192-f6bf59915e34" Alias="Blog Post Category Options" Level="2">
  <Info>
    <Name>Blog Post Category Options</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Living+Stream</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Apologetic"
    },
    {
      "id": 2,
      "value": "Hermeneutics"
    }
  ]
}]]></Config>
</DataType>