<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65998ce7-1318-4d09-ae20-0e2a33c491fa" Alias="Footer Controls - Block List" Level="1">
  <Info>
    <Name>Footer Controls - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "8dad6935-7a14-473d-b9b9-af8c4af16b15",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>