<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0da07a20-b24f-4295-9bc5-f46e58eea88d" Alias="List Row Settings - Item per row - Numeric" Level="1">
  <Info>
    <Name>List Row Settings - Item per row - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "step": 0.1
}]]></Config>
</DataType>