<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19b274a5-c2f8-4b75-8a59-dfa54764e96b" Alias="NavLink Style Options" Level="1">
  <Info>
    <Name>NavLink Style Options</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Alternate"
    },
    {
      "id": 2,
      "value": "Default"
    }
  ]
}]]></Config>
</DataType>