<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e8843c1-1847-4d7e-bbce-e32c53af8045" Alias="Text Alignmernt  Dropdown" Level="1">
  <Info>
    <Name>Text Alignmernt  Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "align-left"
    },
    {
      "id": 2,
      "value": "align-right"
    },
    {
      "id": 3,
      "value": "align-centre"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>