<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca8fcb4c-d1fb-43e6-be3d-36cb1c23c6b9" Alias="Text  Aligntment Dropdown" Level="1">
  <Info>
    <Name>Text  Aligntment Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": []
}]]></Config>
</DataType>