<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd1e0da5-5606-4862-b679-5d0cf3a52a59" Alias="WebPage picker" Level="1">
  <Info>
    <Name>WebPage picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/e92ab31ed692402c93b8664f39c4959c",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>