<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f60d3a5-57e8-472b-b9e4-a46259d8403c" Alias="applicationRoot" Level="2">
  <Info>
    <Name>Application Root</Name>
    <Icon>icon-home color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Root of the application. All links point from here</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="39224f57-5f51-46c2-aecd-098ca487c803">commonPageSettings</Composition>
      <Composition Key="3796d785-021b-4b78-b83e-a4cd9cc2fae7">footerLinks</Composition>
      <Composition Key="5ef46ec7-d344-44bb-b805-f85c41668ed8">landingPageHeaderSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>