<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9e39878-171b-47aa-ad49-5a40e536e1b6" Alias="backgroundColorSetting" Level="2">
  <Info>
    <Name>Background Color Setting</Name>
    <Icon>icon-color-bucket color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2794849e-16be-4607-84c4-986cf8564172</Key>
      <Name>Offset</Name>
      <Alias>offset</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="backgroundColor">Background Color</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15fad279-38e1-4af3-9540-06fd1e3a7b74</Key>
      <Name>Tone #1</Name>
      <Alias>tone1</Alias>
      <Definition>3ada9106-9578-41c1-b32f-ac8bab9d3feb</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundColor">Background Color</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c549566-5196-4d74-bb52-003a296d3f30</Key>
      <Name>Tone #2</Name>
      <Alias>tone2</Alias>
      <Definition>3ada9106-9578-41c1-b32f-ac8bab9d3feb</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="backgroundColor">Background Color</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>58ccd874-e1e7-4899-9e9f-df96dac1ff6a</Key>
      <Caption>Background Color</Caption>
      <Alias>backgroundColor</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>