<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c68a758-45b6-4672-ae83-4bc0070c90cb" Alias="blog" Level="3">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-books color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="968f6415-be73-43ee-a541-e52ba19d39b0">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="843e6377-d9b8-484a-861b-a162c174fcf6" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>23fd1357-8a4d-455f-afc8-3b9ebd78f124</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blogSettings">Blog settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7d46474d-6db9-474b-b265-1caa6a5f571e</Key>
      <Caption>Blog settings</Caption>
      <Alias>blogSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>