<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="843e6377-d9b8-484a-861b-a162c174fcf6" Alias="blogPost" Level="3">
  <Info>
    <Name>Blog Post</Name>
    <Icon>icon-book-alt-2 color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Blog</Folder>
    <Compositions>
      <Composition Key="ca35ebad-e8b4-4546-b33b-db885585f713">blogPostSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd6947f1-5ef9-41ac-907d-3dabeaff3c27">BlogPost</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>