<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3796d785-021b-4b78-b83e-a4cd9cc2fae7" Alias="footerLinks" Level="3">
  <Info>
    <Name>Footer Links</Name>
    <Icon>icon-globe-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Application</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>