<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f80a8809-1ccf-4145-8ddb-562a279f96b4" Alias="homePageContent" Level="3">
  <Info>
    <Name>Landing Page Content</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Landing+Page</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5b33c8fc-f30e-4ba8-a4fc-dcbe36bfbef1" SortOrder="0">landingPageColumnsSection</ContentType>
    <ContentType Key="cbc7cdab-b08b-4586-bf6f-a66057f12f28" SortOrder="1">landingPageTextSection</ContentType>
    <ContentType Key="7e643489-35f9-4128-b066-6b2414f612a4" SortOrder="2">landingPageImageSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>