<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4417943-202e-4251-8098-337012c22711" Alias="home" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="39224f57-5f51-46c2-aecd-098ca487c803">commonPageSettings</Composition>
      <Composition Key="825c5233-a545-4a81-ad7a-9ced90e9e146">footerControls</Composition>
      <Composition Key="5ef46ec7-d344-44bb-b805-f85c41668ed8">landingPageHeaderSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="152fd98b-44c4-4e23-ba08-dd293bb8a846">LandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4deca40c-ec0b-47e9-9bd2-c0b3e0e3bb2a" SortOrder="0">privacyPolicy</ContentType>
    <ContentType Key="22149bb4-bc23-467d-b690-c12d1afc2640" SortOrder="1">aboutUs</ContentType>
    <ContentType Key="2c68a758-45b6-4672-ae83-4bc0070c90cb" SortOrder="2">blog</ContentType>
    <ContentType Key="5f60d3a5-57e8-472b-b9e4-a46259d8403c" SortOrder="3">applicationRoot</ContentType>
    <ContentType Key="f4417943-202e-4251-8098-337012c22711" SortOrder="4">home</ContentType>
    <ContentType Key="e5630f78-256a-43ff-9a51-958a27270fb5" SortOrder="5">videoGallery</ContentType>
    <ContentType Key="f80a8809-1ccf-4145-8ddb-562a279f96b4" SortOrder="6">homePageContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>