<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5ef46ec7-d344-44bb-b805-f85c41668ed8" Alias="landingPageHeaderSettings" Level="3">
  <Info>
    <Name>Landing Page Header Settings</Name>
    <Icon>icon-defrag color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions/Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>389744df-f146-4c14-ace6-75491156ba5c</Key>
      <Name>Background  Image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="landingPageHeader">Landing Page Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>67e120fa-cff4-437a-80c8-948c4ea3730d</Key>
      <Caption>Landing Page Header</Caption>
      <Alias>landingPageHeader</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>