<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e643489-35f9-4128-b066-6b2414f612a4" Alias="landingPageImageSection" Level="3">
  <Info>
    <Name>Landing Page Image Section</Name>
    <Icon>icon-umb-media color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Landing+Page</Folder>
    <Compositions>
      <Composition Key="e9e39878-171b-47aa-ad49-5a40e536e1b6">backgroundColorSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d5f8831b-8bc8-4d24-badc-af4a1dd36223</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundColor">Background Color</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9455f9b2-2546-46e5-a87f-b63cf2c61b7a</Key>
      <Caption>Background Color</Caption>
      <Alias>backgroundColor</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>