<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b33c8fc-f30e-4ba8-a4fc-dcbe36bfbef1" Alias="landingPageColumnsSection" Level="3">
  <Info>
    <Name>Landing Page Columns Section</Name>
    <Icon>icon-columns color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Landing+Page</Folder>
    <Compositions>
      <Composition Key="e9e39878-171b-47aa-ad49-5a40e536e1b6">backgroundColorSettings</Composition>
      <Composition Key="0e7de3ce-799e-41fe-bd90-6f6e08be309c">listRowSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cbc7cdab-b08b-4586-bf6f-a66057f12f28" SortOrder="0">landingPageTextSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>