<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cbc7cdab-b08b-4586-bf6f-a66057f12f28" Alias="landingPageTextSection" Level="3">
  <Info>
    <Name>Landing Page Text Section</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Landing+Page</Folder>
    <Compositions>
      <Composition Key="e9e39878-171b-47aa-ad49-5a40e536e1b6">backgroundColorSetting</Composition>
      <Composition Key="bb9d1b16-a0b9-4031-b1f0-a2395008d1d4">backgroundSection</Composition>
      <Composition Key="b8aa94f4-c4b4-4b24-b128-6896acfb4fd4">textContentComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>