<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d32dc91b-1520-41c8-9d93-b620b873f74b" Alias="listItemSettings" Level="3">
  <Info>
    <Name>List Item Settings</Name>
    <Icon>icon-bulleted-list color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions/Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c26a2df8-0d58-4c7d-83a2-dce1f6e7384e</Key>
      <Name>Display Oder</Name>
      <Alias>displayOder</Alias>
      <Definition>da992475-8522-49ab-8338-70fe8046f7db</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listSettings">List Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0b014736-ec7a-4d3e-a6ae-6b078f137a84</Key>
      <Caption>List Settings</Caption>
      <Alias>listSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>