<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e7de3ce-799e-41fe-bd90-6f6e08be309c" Alias="listRowSettings" Level="3">
  <Info>
    <Name>List Row Settings</Name>
    <Icon>icon-ordered-list color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions/Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3a2ed70f-a4ee-4952-95ae-e68ba558cdb5</Key>
      <Name>Item per rows</Name>
      <Alias>itemPerRows</Alias>
      <Definition>0da07a20-b24f-4295-9bc5-f46e58eea88d</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listSettings">List Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a0c1af31-107c-4dec-963e-64ab26dae054</Key>
      <Caption>List Settings</Caption>
      <Alias>listSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>