<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48d892e0-fb92-4dc6-8109-1398ef606a21" Alias="navigationMenu" Level="3">
  <Info>
    <Name>Navigation Menu</Name>
    <Icon>icon-conversation color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Application</Folder>
    <Compositions />
    <DefaultTemplate>NavigationMenu</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="42fbe9cc-7aef-4674-b92b-56ceb6c4ea2a">NavigationMenu</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="30b41a78-70c1-45fc-bebc-a298517a85de" SortOrder="0">navLink</ContentType>
    <ContentType Key="5452ea78-11ad-4adf-9b21-51c8f64bf9cf" SortOrder="1">navSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>