<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30b41a78-70c1-45fc-bebc-a298517a85de" Alias="navLink" Level="3">
  <Info>
    <Name>NavLink</Name>
    <Icon>icon-link color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Navigation+Menu</Folder>
    <Compositions>
      <Composition Key="ee4acd7b-72bb-4b7e-b23b-e1e3d07d3296">navLinkSettings</Composition>
    </Compositions>
    <DefaultTemplate>NavLink</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>