<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4deca40c-ec0b-47e9-9bd2-c0b3e0e3bb2a" Alias="privacyPolicy" Level="2">
  <Info>
    <Name>Privacy Policy</Name>
    <Icon>icon-eye color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="39224f57-5f51-46c2-aecd-098ca487c803">commonPageSettings</Composition>
      <Composition Key="b8aa94f4-c4b4-4b24-b128-6896acfb4fd4">textContentComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="227f3875-2256-4023-9a52-1bc79ccf4d0e">PrivacyPolicy</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>