<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22149bb4-bc23-467d-b690-c12d1afc2640" Alias="webPage" Level="2">
  <Info>
    <Name>Web Page</Name>
    <Icon>icon-user-females-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="39224f57-5f51-46c2-aecd-098ca487c803">commonPageSettings</Composition>
      <Composition Key="b8aa94f4-c4b4-4b24-b128-6896acfb4fd4">textContentComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32490c5f-24cd-4f51-a513-541f2da94d7e">WebPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5ee32324-6ac5-43ff-9714-b77a39397c17</Key>
      <Name>Image Content</Name>
      <Alias>imageContent</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="singlePageContent">Single Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>617d9263-371a-4e5a-9c23-6381c509fc80</Key>
      <Caption>Single Page Content</Caption>
      <Alias>singlePageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>