<?xml version="1.0" encoding="utf-8"?>
<Content Key="52a6b155-a918-4878-bb4b-051a60588dd4" Alias="About (1)" Level="3">
  <Info>
    <Parent Key="b079b4ca-e575-414e-af80-8ac804e0c74d">Additon</Parent>
    <Path>/NavigationMenu/Additon/About1</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-13T11:35:37</CreateDate>
    <NodeName Default="About (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>