<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b220336-c33d-4721-8139-e876ccec3fce" Alias="About God" Level="2">
  <Info>
    <Parent Key="b1176aef-088e-4a14-a97d-6490e1ef9b55">Navigation Menu</Parent>
    <Path>/NavigationMenu/AboutGod</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-13T10:58:51</CreateDate>
    <NodeName Default="About God" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/17c0be8c8e914492b5c467f857cfb5ed]]></Value>
    </linkedPage>
  </Properties>
</Content>