<?xml version="1.0" encoding="utf-8"?>
<Content Key="661ffba4-3df0-42ce-b2b9-cce90142ba1e" Alias="About Us" Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Home Page</Parent>
    <Path>/HomePage/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2022-09-04T18:47:39</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32490c5f-24cd-4f51-a513-541f2da94d7e">AboutUs</Template>
  </Info>
  <Properties>
    <contentTitle>
      <Value><![CDATA[About Us]]></Value>
    </contentTitle>
    <textContent>
      <Value><![CDATA[<p>About Us</p>]]></Value>
    </textContent>
    <title>
      <Value><![CDATA[About Us]]></Value>
    </title>
  </Properties>
</Content>