<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad061a5d-b85f-44ff-947e-5fc61834b2ed" Alias="Blog" Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Home Page</Parent>
    <Path>/HomePage/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2022-09-05T20:19:49</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentTitle>
      <Value><![CDATA[]]></Value>
    </contentTitle>
    <textContent>
      <Value><![CDATA[]]></Value>
    </textContent>
    <title>
      <Value><![CDATA[Blog]]></Value>
    </title>
  </Properties>
</Content>