<?xml version="1.0" encoding="utf-8"?>
<Content Key="4deca0e6-bef4-47d8-883d-71f975fd116c" Alias="Church" Level="3">
  <Info>
    <Parent Key="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">Home Page Content</Parent>
    <Path>/Website/HomePageContent/Church</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageImageSection</ContentType>
    <CreateDate>2023-08-22T15:12:13</CreateDate>
    <NodeName Default="Church" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "7d892379-9c6d-41f6-bcc3-facb6e014625",
    "mediaKey": "e1811a4f-c0b1-4b1d-abcd-041af310f590"
  }
]]]></Value>
    </image>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>