<?xml version="1.0" encoding="utf-8"?>
<Content Key="564c6d2c-6d14-4063-bc72-a2705b6c98bc" Alias="Church" Level="3">
  <Info>
    <Parent Key="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">Home Page Content</Parent>
    <Path>/Website/HomePageContent/Church</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageImageSection</ContentType>
    <CreateDate>2023-04-25T16:18:59</CreateDate>
    <NodeName Default="Church" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65edced5-b83f-4c56-afb7-5d49c5b6b6b7">HomePageContent</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[[
  {
    "key": "69a42b61-40dd-4f7c-9d01-1d9d9bb83f8a",
    "mediaKey": "e1811a4f-c0b1-4b1d-abcd-041af310f590"
  }
]]]></Value>
    </content>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>