<?xml version="1.0" encoding="utf-8"?>
<Content Key="deca0b04-a1f1-483d-9ed5-3eb9caf6e4d4" Alias="Church (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Church2</Path>
    <Trashed Parent="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">true</Trashed>
    <ContentType>landingPageImageSection</ContentType>
    <CreateDate>2023-07-24T17:10:11</CreateDate>
    <NodeName Default="Church (2)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[[
  {
    "key": "9e23eab8-b786-41ac-9e0e-1342c8e3f5ba",
    "mediaKey": "e1811a4f-c0b1-4b1d-abcd-041af310f590"
  }
]]]></Value>
    </content>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>