<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ff9dda2-c22d-4cee-bb38-d1a7088f30f1" Alias="Colums" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Colums</Path>
    <Trashed Parent="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">true</Trashed>
    <ContentType>landingPageColumnsSection</ContentType>
    <CreateDate>2023-10-06T14:37:45</CreateDate>
    <NodeName Default="Colums" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <itemPerRows>
      <Value><![CDATA[3]]></Value>
    </itemPerRows>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>