<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d9bd612-3d56-4bee-a5ec-4014cfba7e13" Alias="Columns" Level="3">
  <Info>
    <Parent Key="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">Home Page Content</Parent>
    <Path>/Website/HomePageContent/Columns</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageColumnsSection</ContentType>
    <CreateDate>2023-10-06T16:39:11</CreateDate>
    <NodeName Default="Columns" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <itemPerRows>
      <Value><![CDATA[3]]></Value>
    </itemPerRows>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>