<?xml version="1.0" encoding="utf-8"?>
<Content Key="822f4d11-89e9-4d44-927a-e636ffef453a" Alias="Columns" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Columns</Path>
    <Trashed Parent="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">true</Trashed>
    <ContentType>landingPageColumnsSection</ContentType>
    <CreateDate>2023-10-06T15:32:47</CreateDate>
    <NodeName Default="Columns" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <itemPerRows>
      <Value><![CDATA[]]></Value>
    </itemPerRows>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>