<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ee7fe35-c900-41ce-8119-8a81075fa4b2" Alias="Livingstream" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Livingstream</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-03-26T16:08:11</CreateDate>
    <NodeName Default="Livingstream" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="152fd98b-44c4-4e23-ba08-dd293bb8a846">LandingPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[{
  "src": "/media/3k3habsg/ivn_7731.jpg"
}]]></Value>
    </backgroundImage>
    <backgroundVideo>
      <Value><![CDATA[[
  {
    "key": "9b23da77-a2c4-4e20-8eb7-a89f1b95f5dd",
    "mediaKey": "e5276eaf-7f0d-4ac8-a2a4-8942bd0ab04b"
  }
]]]></Value>
    </backgroundVideo>
    <copyrights>
      <Value><![CDATA[]]></Value>
    </copyrights>
    <logoImage>
      <Value><![CDATA[[
  {
    "key": "5eeb028b-75b9-4890-82cc-bf5f80c61294",
    "mediaKey": "53312545-eedc-4520-9c85-1c07b249b82a"
  }
]]]></Value>
    </logoImage>
    <pageTitle>
      <Value><![CDATA[Landing page Header]]></Value>
    </pageTitle>
    <socialMediaLinks>
      <Value><![CDATA[]]></Value>
    </socialMediaLinks>
  </Properties>
</Content>