<?xml version="1.0" encoding="utf-8"?>
<Content Key="12b0714e-c4c4-4ac8-a891-ca06b5b145ec" Alias="MyBlog" Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Home Page</Parent>
    <Path>/HomePage/MyBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-09-06T12:13:07</CreateDate>
    <NodeName Default="MyBlog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="968f6415-be73-43ee-a541-e52ba19d39b0">Blog</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[<p>Hennadii</p>]]></Value>
    </author>
  </Properties>
</Content>