<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d1ec201-0b6b-4369-8348-c7ce739a87d8" Alias="Navigation Menu" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NavigationMenu</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>navigationMenu</ContentType>
    <CreateDate>2025-03-26T16:15:31</CreateDate>
    <NodeName Default="Navigation Menu" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="42fbe9cc-7aef-4674-b92b-56ceb6c4ea2a">NavigationMenu</Template>
  </Info>
  <Properties />
</Content>