<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1176aef-088e-4a14-a97d-6490e1ef9b55" Alias="Navigation Menu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NavigationMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationMenu</ContentType>
    <CreateDate>2023-04-12T15:22:36</CreateDate>
    <NodeName Default="Navigation Menu" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="42fbe9cc-7aef-4674-b92b-56ceb6c4ea2a">NavigationMenu</Template>
  </Info>
  <Properties />
</Content>