<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1e6a895-ec14-48d0-8782-4965eee25406" Alias="Polici" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Polici</Path>
    <Trashed Parent="e92ab31e-d692-402c-93b8-664f39c4959c">true</Trashed>
    <ContentType>privacyPolicy</ContentType>
    <CreateDate>2023-07-25T14:50:44</CreateDate>
    <NodeName Default="Polici" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="227f3875-2256-4023-9a52-1bc79ccf4d0e">PrivacyPolicy</Template>
  </Info>
  <Properties>
    <alignTitle>
      <Value><![CDATA[]]></Value>
    </alignTitle>
    <aligntTextContent>
      <Value><![CDATA[]]></Value>
    </aligntTextContent>
    <contentTitle>
      <Value><![CDATA[Polici]]></Value>
    </contentTitle>
    <textContent>
      <Value><![CDATA[<p>Polici</p>]]></Value>
    </textContent>
    <title>
      <Value><![CDATA[Polici]]></Value>
    </title>
  </Properties>
</Content>