<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9aef558-cef2-430e-bd21-0cac3c2ee1fd" Alias="Test 1" Level="4">
  <Info>
    <Parent Key="32f8acb2-e6e3-478f-bd10-98909846b791">test (1)</Parent>
    <Path>/Website/HomePageContent/test1/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageTextSection</ContentType>
    <CreateDate>2023-08-01T15:20:04</CreateDate>
    <NodeName Default="Test 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alignTitle>
      <Value><![CDATA[]]></Value>
    </alignTitle>
    <aligntTextContent>
      <Value><![CDATA[]]></Value>
    </aligntTextContent>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <backgroundImageOpacity>
      <Value><![CDATA[]]></Value>
    </backgroundImageOpacity>
    <backgroundImagePosition>
      <Value><![CDATA[]]></Value>
    </backgroundImagePosition>
    <contentTitle>
      <Value><![CDATA[Test 1]]></Value>
    </contentTitle>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <textContent>
      <Value><![CDATA[<p>Test 1Test 1Test 1Test 1Test 1Test 1Test 1Test 1Test 1Test 1</p>]]></Value>
    </textContent>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>