<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd5a045e-2d43-4e03-8778-710998656237" Alias="TestSection" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestSection</Path>
    <Trashed Parent="b1176aef-088e-4a14-a97d-6490e1ef9b55">true</Trashed>
    <ContentType>navSection</ContentType>
    <CreateDate>2023-04-13T11:02:50</CreateDate>
    <NodeName Default="TestSection" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ea898f4-e36f-4b05-86a8-ff9ddab5dbc7">NavSection</Template>
  </Info>
  <Properties />
</Content>