<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a55492c-91bd-45db-ba3a-6455d0215411" Alias="Test Image" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestImage</Path>
    <Trashed Parent="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">true</Trashed>
    <ContentType>landingPageImageSection</ContentType>
    <CreateDate>2023-08-01T12:17:01</CreateDate>
    <NodeName Default="Test Image" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[[
  {
    "key": "8ec4a191-4925-43ef-a771-6883f362c586",
    "mediaKey": "fcd3f7ea-3320-453b-98d7-17e437ff1b47"
  }
]]]></Value>
    </content>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>