<?xml version="1.0" encoding="utf-8"?>
<Content Key="49dcb951-0c88-4f6a-92be-b6e3e48732c2" Alias="test1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test1</Path>
    <Trashed Parent="2ff9dda2-c22d-4cee-bb38-d1a7088f30f1">true</Trashed>
    <ContentType>landingPageTextSection</ContentType>
    <CreateDate>2023-10-06T15:28:48</CreateDate>
    <NodeName Default="test1" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alignTitle>
      <Value><![CDATA[]]></Value>
    </alignTitle>
    <aligntTextContent>
      <Value><![CDATA[]]></Value>
    </aligntTextContent>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <backgroundImageOpacity>
      <Value><![CDATA[]]></Value>
    </backgroundImageOpacity>
    <backgroundImagePosition>
      <Value><![CDATA[]]></Value>
    </backgroundImagePosition>
    <contentTitle>
      <Value><![CDATA[test1]]></Value>
    </contentTitle>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <textContent>
      <Value><![CDATA[<p>test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1test1</p>]]></Value>
    </textContent>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>