<?xml version="1.0" encoding="utf-8"?>
<Content Key="95a4499c-4bfa-4a42-8309-2f3980cf0159" Alias="Test1" Level="4">
  <Info>
    <Parent Key="1d9bd612-3d56-4bee-a5ec-4014cfba7e13">Columns</Parent>
    <Path>/Website/HomePageContent/Columns/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageTextSection</ContentType>
    <CreateDate>2023-10-06T16:39:35</CreateDate>
    <NodeName Default="Test1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alignTitle>
      <Value><![CDATA[]]></Value>
    </alignTitle>
    <aligntTextContent>
      <Value><![CDATA[]]></Value>
    </aligntTextContent>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <backgroundImageOpacity>
      <Value><![CDATA[]]></Value>
    </backgroundImageOpacity>
    <backgroundImagePosition>
      <Value><![CDATA[]]></Value>
    </backgroundImagePosition>
    <contentTitle>
      <Value><![CDATA[Test1]]></Value>
    </contentTitle>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <textContent>
      <Value><![CDATA[<p>Test1</p>]]></Value>
    </textContent>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>