<?xml version="1.0" encoding="utf-8"?>
<Content Key="7324f8bd-fc74-42dc-a672-bafddc4870e4" Alias="Test" Level="3">
  <Info>
    <Parent Key="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">Home Page Content</Parent>
    <Path>/Website/HomePageContent/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageImageSection</ContentType>
    <CreateDate>2023-08-01T12:44:37</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "c840e613-785f-4410-a08d-9edaf2e74722",
    "mediaKey": "fcd3f7ea-3320-453b-98d7-17e437ff1b47"
  }
]]]></Value>
    </image>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[#e9e0e0]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>