<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fbc57a1-c30c-48aa-951b-1c138ca71f96" Alias="Test" Level="102">
  <Info>
    <Parent Key="dd5a045e-2d43-4e03-8778-710998656237">TestSection</Parent>
    <Path>/[-20]/TestSection/Test</Path>
    <Trashed Parent="dd5a045e-2d43-4e03-8778-710998656237">true</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-13T11:04:23</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>