<?xml version="1.0" encoding="utf-8"?>
<Content Key="32f8acb2-e6e3-478f-bd10-98909846b791" Alias="test (1)" Level="3">
  <Info>
    <Parent Key="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">Home Page Content</Parent>
    <Path>/Website/HomePageContent/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPageColumnsSection</ContentType>
    <CreateDate>2023-08-01T12:45:21</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <itemPerRow>
      <Value><![CDATA[5]]></Value>
    </itemPerRow>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[#e6dfdf]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>