<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c346d31-c791-46af-b035-e6027e8b0573" Alias="Test 2" Level="102">
  <Info>
    <Parent Key="822f4d11-89e9-4d44-927a-e636ffef453a">Columns</Parent>
    <Path>/[-20]/Columns/Test2</Path>
    <Trashed Parent="822f4d11-89e9-4d44-927a-e636ffef453a">true</Trashed>
    <ContentType>landingPageTextSection</ContentType>
    <CreateDate>2023-10-06T16:09:47</CreateDate>
    <NodeName Default="Test 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alignTitle>
      <Value><![CDATA[]]></Value>
    </alignTitle>
    <aligntTextContent>
      <Value><![CDATA[]]></Value>
    </aligntTextContent>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <backgroundImageOpacity>
      <Value><![CDATA[]]></Value>
    </backgroundImageOpacity>
    <backgroundImagePosition>
      <Value><![CDATA[]]></Value>
    </backgroundImagePosition>
    <contentTitle>
      <Value><![CDATA[77777777777]]></Value>
    </contentTitle>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <textContent>
      <Value><![CDATA[<p>777777777777777777777777777</p>]]></Value>
    </textContent>
    <tone1>
      <Value><![CDATA[]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>