<?xml version="1.0" encoding="utf-8"?>
<Content Key="e92ab31e-d692-402c-93b8-664f39c4959c" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-09-04T18:21:27</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="152fd98b-44c4-4e23-ba08-dd293bb8a846">LandingPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[{"src":"/media/yh1l1uou/logo-living-streampng.png"}]]></Value>
    </backgroundImage>
    <backgroundVideo>
      <Value><![CDATA[[
  {
    "key": "38525761-dd06-41db-bc98-7231771107e3",
    "mediaKey": "eaecb35f-b5d8-4677-abed-e0a0113179b6"
  }
]]]></Value>
    </backgroundVideo>
    <copyrights>
      <Value><![CDATA[]]></Value>
    </copyrights>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <socialMediaLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c51f0dd82ed544d2a96ee6fa160207e1"
      },
      {
        "contentUdi": "umb://element/57fcc09bec5f4aaa87653504becfe93b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8dad6935-7a14-473d-b9b9-af8c4af16b15",
      "udi": "umb://element/c51f0dd82ed544d2a96ee6fa160207e1",
      "socialName": "twitter",
      "url": "twitter.com",
      "icon": "[\r\n  {\r\n    \"key\": \"d0202f80-7ab2-470b-8583-8e59453a368a\",\r\n    \"mediaKey\": \"faaff84a-1887-4ef5-8a1f-79a2eefdba6a\"\r\n  }\r\n]",
      "isVisible": "1"
    },
    {
      "contentTypeKey": "8dad6935-7a14-473d-b9b9-af8c4af16b15",
      "udi": "umb://element/57fcc09bec5f4aaa87653504becfe93b",
      "socialName": "Instagram",
      "url": "instagram.com",
      "icon": "[\r\n  {\r\n    \"key\": \"975a13cb-8a66-4fbf-aeca-e3aa49c23f3a\",\r\n    \"mediaKey\": \"7bc8d986-efd7-4dd8-9bad-3acf61cfac4a\"\r\n  }\r\n]",
      "isVisible": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaLinks>
  </Properties>
</Content>