<?xml version="1.0" encoding="utf-8"?>
<Content Key="e92ab31e-d692-402c-93b8-664f39c4959c" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-09-04T18:21:27</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="152fd98b-44c4-4e23-ba08-dd293bb8a846">LandingPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[{
  "src": "/media/yh1l1uou/ivn_7731.jpg"
}]]></Value>
    </backgroundImage>
    <backgroundVideo>
      <Value><![CDATA[[
  {
    "key": "04ea63e8-7978-4f8a-838d-06387d907760",
    "mediaKey": "94e31e61-9abb-4587-b53c-cd1a56a8f224"
  }
]]]></Value>
    </backgroundVideo>
    <copyrights>
      <Value><![CDATA[]]></Value>
    </copyrights>
    <logoImage>
      <Value><![CDATA[[
  {
    "key": "80226f05-be20-473c-9206-330efe9e016b",
    "mediaKey": "53312545-eedc-4520-9c85-1c07b249b82a"
  }
]]]></Value>
    </logoImage>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <socialMediaLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c51f0dd82ed544d2a96ee6fa160207e1"
      },
      {
        "contentUdi": "umb://element/57fcc09bec5f4aaa87653504becfe93b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8dad6935-7a14-473d-b9b9-af8c4af16b15",
      "udi": "umb://element/c51f0dd82ed544d2a96ee6fa160207e1",
      "socialName": "twitter",
      "url": "twitter.com",
      "icon": [
        {
          "key": "d0202f80-7ab2-470b-8583-8e59453a368a",
          "mediaKey": "faaff84a-1887-4ef5-8a1f-79a2eefdba6a"
        }
      ],
      "isVisible": "1"
    },
    {
      "contentTypeKey": "8dad6935-7a14-473d-b9b9-af8c4af16b15",
      "udi": "umb://element/57fcc09bec5f4aaa87653504becfe93b",
      "socialName": "Instagram",
      "url": "instagram.com",
      "icon": [
        {
          "key": "975a13cb-8a66-4fbf-aeca-e3aa49c23f3a",
          "mediaKey": "7bc8d986-efd7-4dd8-9bad-3acf61cfac4a"
        }
      ],
      "isVisible": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaLinks>
  </Properties>
</Content>