<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a408578-bc11-4663-ac1f-a6e3166c5f0b" Alias="Блог" Level="2">
  <Info>
    <Parent Key="b1176aef-088e-4a14-a97d-6490e1ef9b55">Navigation Menu</Parent>
    <Path>/NavigationMenu/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>navSection</ContentType>
    <CreateDate>2023-07-25T15:14:40</CreateDate>
    <NodeName Default="Блог" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ea898f4-e36f-4b05-86a8-ff9ddab5dbc7">NavSection</Template>
  </Info>
  <Properties />
</Content>