<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cee34a5-9e2e-4f0c-9e33-86297b11ae7b" Alias="Біблійні основи" Level="3">
  <Info>
    <Parent Key="b079b4ca-e575-414e-af80-8ac804e0c74d">Служіння Людям (1)</Parent>
    <Path>/NavigationMenu/SluzhNnyaLyudyam1/BBlInOsnovi</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-13T11:35:54</CreateDate>
    <NodeName Default="Біблійні основи" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>