<?xml version="1.0" encoding="utf-8"?>
<Content Key="73b3d445-2128-482d-b5b2-d52403ff1e29" Alias="Герменевтика" Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Website</Parent>
    <Path>/Website/Germenevtika</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-07-25T15:16:25</CreateDate>
    <NodeName Default="Герменевтика" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[<p>пан Юрій</p>]]></Value>
    </author>
  </Properties>
</Content>