<?xml version="1.0" encoding="utf-8"?>
<Content Key="7de91c98-32c8-4d00-93cd-23887acf99cc" Alias="Герменевтика" Level="3">
  <Info>
    <Parent Key="f3fdb8ad-1625-4a08-b9a7-fb9ffaa8a233">Video</Parent>
    <Path>/Website/Video/Germenevtika</Path>
    <Trashed>false</Trashed>
    <ContentType>vadeoGalleryEntry</ContentType>
    <CreateDate>2023-07-25T15:18:36</CreateDate>
    <NodeName Default="Герменевтика" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Герменевтика]]></Value>
    </description>
    <embeddedVideo>
      <Value><![CDATA[<p>&lt;iframe width="1271" height="715" src="https://www.youtube.com/embed/Jyx0UBw_WcM" title="Памир. Восхождение на пик Корженевской 7105м и пик Сомони 7495м. Часть 2. Корженева" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen&gt;&lt;/iframe&gt;</p>]]></Value>
    </embeddedVideo>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "906a7807-905a-43b6-bbd8-b4f3faffc129",
    "mediaKey": "e1811a4f-c0b1-4b1d-abcd-041af310f590"
  }
]]]></Value>
    </thumbnail>
  </Properties>
</Content>