<?xml version="1.0" encoding="utf-8"?>
<Content Key="80f19950-e102-4f03-a776-fc73f9edb90e" Alias="Герменевтика" Level="3">
  <Info>
    <Parent Key="1a408578-bc11-4663-ac1f-a6e3166c5f0b">Блог</Parent>
    <Path>/NavigationMenu/Blog/Germenevtika</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-07-25T15:15:10</CreateDate>
    <NodeName Default="Герменевтика" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/73b3d4452128482db5b2d52403ff1e29]]></Value>
    </linkedPage>
  </Properties>
</Content>