<?xml version="1.0" encoding="utf-8"?>
<Content Key="be7e8928-9405-482d-80cd-84f2440e731a" Alias="Захист християнської віри" Level="3">
  <Info>
    <Parent Key="1a408578-bc11-4663-ac1f-a6e3166c5f0b">Медіа</Parent>
    <Path>/NavigationMenu2/MedA/ZakhistKhristiyansKoVRi</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-12-25T12:20:35</CreateDate>
    <NodeName Default="Захист християнської віри" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>