<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f33b54d-0b31-4910-91b5-b6e774bdf62d" Alias="Контакти" Level="2">
  <Info>
    <Parent Key="b1176aef-088e-4a14-a97d-6490e1ef9b55">Navigation Menu</Parent>
    <Path>/NavigationMenu/Kontakti</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2024-06-21T11:45:16</CreateDate>
    <NodeName Default="Контакти" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/ad061a5db85f44ff947e5fc61834b2ed]]></Value>
    </linkedPage>
  </Properties>
</Content>