<?xml version="1.0" encoding="utf-8"?>
<Content Key="926f2a67-83be-4eb4-b227-4f44963bc2b0" Alias="Медія" Level="2">
  <Info>
    <Parent Key="b1176aef-088e-4a14-a97d-6490e1ef9b55">Navigation Menu</Parent>
    <Path>/NavigationMenu/PropovD</Path>
    <Trashed>false</Trashed>
    <ContentType>navSection</ContentType>
    <CreateDate>2023-04-25T12:18:57</CreateDate>
    <NodeName Default="Медія" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ea898f4-e36f-4b05-86a8-ff9ddab5dbc7">NavSection</Template>
  </Info>
  <Properties />
</Content>