<?xml version="1.0" encoding="utf-8"?>
<Content Key="9978311d-778a-435a-ade4-09591da9b328" Alias="Мохненко" Level="3">
  <Info>
    <Parent Key="f3fdb8ad-1625-4a08-b9a7-fb9ffaa8a233">Проповіді відео</Parent>
    <Path>/Website/PropovDVDeo/Mokhnenko</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGalleryEntry</ContentType>
    <CreateDate>2023-11-11T22:35:40</CreateDate>
    <NodeName Default="Мохненко" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Мохненко]]></Value>
    </description>
    <embeddedVideo>
      <Value><![CDATA[<p>&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/Z2i3sJU-XDE?si=Z42pop_sn3a2Ki1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen&gt;&lt;/iframe&gt;</p>]]></Value>
    </embeddedVideo>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "29061003-2eb9-400b-9684-ad7331e13eb9",
    "mediaKey": "fcd3f7ea-3320-453b-98d7-17e437ff1b47"
  }
]]]></Value>
    </thumbnail>
  </Properties>
</Content>