<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b1ae845-e358-4198-8e04-55bd1f07e8aa" Alias="Наше бачення" Level="3">
  <Info>
    <Parent Key="78faf876-4d37-4dca-b1f6-b153012f4ca5">Про Нас (1)</Parent>
    <Path>/NavigationMenu/ProNas1/NasheBachennya</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-17T16:40:31</CreateDate>
    <NodeName Default="Наше бачення" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>