<?xml version="1.0" encoding="utf-8"?>
<Content Key="c18cfbda-8947-4051-8da7-1eb0e12f699c" Alias="Недільні проповіді" Level="3">
  <Info>
    <Parent Key="926f2a67-83be-4eb4-b227-4f44963bc2b0">Проповіді</Parent>
    <Path>/NavigationMenu/PropovD/NedLNPropovD</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-25T12:49:39</CreateDate>
    <NodeName Default="Недільні проповіді" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/f3fdb8ad16254a08b9a7fb9ffaa8a233]]></Value>
    </linkedPage>
  </Properties>
</Content>