<?xml version="1.0" encoding="utf-8"?>
<Content Key="c952000f-6788-434b-974e-3072bdf1d661" Alias="Недільні" Level="3">
  <Info>
    <Parent Key="1a408578-bc11-4663-ac1f-a6e3166c5f0b">Блог</Parent>
    <Path>/NavigationMenu/Blog/NedLN</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-07-25T15:51:23</CreateDate>
    <NodeName Default="Недільні" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/12b0714ec4c44ac8a891ca06b5b145ec]]></Value>
    </linkedPage>
  </Properties>
</Content>