<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6205090-f079-4c67-9627-1c3128444b5c" Alias="Недільна школа (1)" Level="3">
  <Info>
    <Parent Key="926f2a67-83be-4eb4-b227-4f44963bc2b0">Служіння</Parent>
    <Path>/NavigationMenu/SluzhNnya/NedLNaShkola1</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2024-08-01T17:11:50</CreateDate>
    <NodeName Default="Недільна школа (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/c93f1bcdd7fd4fdc84166dd097388a6f]]></Value>
    </linkedPage>
  </Properties>
</Content>