<?xml version="1.0" encoding="utf-8"?>
<Content Key="23496da1-edea-4d7e-b01b-2c297db3ae89" Alias="Недільна школа" Level="3">
  <Info>
    <Parent Key="926f2a67-83be-4eb4-b227-4f44963bc2b0">Служіння</Parent>
    <Path>/NavigationMenu/SluzhNnya/NedLNaShkola</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-12-25T12:14:22</CreateDate>
    <NodeName Default="Недільна школа" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>