<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2e26e0f-ec8c-4931-9578-0f2502b918ba" Alias="Пасторська Команда" Level="3">
  <Info>
    <Parent Key="78faf876-4d37-4dca-b1f6-b153012f4ca5">Про Нас (1)</Parent>
    <Path>/NavigationMenu/ProNas1/PastorsKaKomanda</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2023-04-17T16:40:48</CreateDate>
    <NodeName Default="Пасторська Команда" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/661ffba43df042ceb2b9cce90142ba1e]]></Value>
    </linkedPage>
  </Properties>
</Content>