<?xml version="1.0" encoding="utf-8"?>
<Content Key="a94ad17c-4d04-4abe-8a75-3efa8a5d66f8" Alias="Про..." Level="3">
  <Info>
    <Parent Key="c512ca15-8b94-4dc7-b0f3-4b86e3637d39">Відеоблоги</Parent>
    <Path>/NavigationMenu2/VDeoblogi/Pro</Path>
    <Trashed>false</Trashed>
    <ContentType>navLink</ContentType>
    <CreateDate>2024-06-21T15:17:06</CreateDate>
    <NodeName Default="Про..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="539e9c19-fb6b-48fc-9210-d8cd9ef2cee3">NavLink</Template>
  </Info>
  <Properties>
    <hideOnLandingPage>
      <Value><![CDATA[0]]></Value>
    </hideOnLandingPage>
    <linkedPage>
      <Value><![CDATA[umb://document/e8b6858a5abe4fdc8bf5bdda5ccf4f38]]></Value>
    </linkedPage>
  </Properties>
</Content>