<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8b6858a-5abe-4fdc-8bf5-bdda5ccf4f38" Alias="Про...." Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Website</Parent>
    <Path>/Website/Pro</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-06-21T15:16:21</CreateDate>
    <NodeName Default="Про...." />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[<p>Юрій</p>]]></Value>
    </author>
  </Properties>
</Content>