<?xml version="1.0" encoding="utf-8"?>
<Content Key="f02aa9d4-9886-46af-a3a9-2f25f3718f1b" Alias="Про нас (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ProNas3</Path>
    <Trashed Parent="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">true</Trashed>
    <ContentType>landingPageTextSection</ContentType>
    <CreateDate>2023-08-01T11:01:44</CreateDate>
    <NodeName Default="Про нас (3)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alignTitle>
      <Value><![CDATA[]]></Value>
    </alignTitle>
    <aligntTextContent>
      <Value><![CDATA[]]></Value>
    </aligntTextContent>
    <backgroundImage>
      <Value><![CDATA[/media/u0vfhe33/depositphotos_.jpg]]></Value>
    </backgroundImage>
    <backgroundImageOpacity>
      <Value><![CDATA[1]]></Value>
    </backgroundImageOpacity>
    <backgroundImagePosition>
      <Value><![CDATA[]]></Value>
    </backgroundImagePosition>
    <contentTitle>
      <Value><![CDATA[Про нас]]></Value>
    </contentTitle>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <textContent>
      <Value><![CDATA[<p>Про нас Про нас Про нас</p>]]></Value>
    </textContent>
    <tone1>
      <Value><![CDATA[#b5cde3]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[]]></Value>
    </tone2>
  </Properties>
</Content>