<?xml version="1.0" encoding="utf-8"?>
<Content Key="78faf876-4d37-4dca-b1f6-b153012f4ca5" Alias="Про Нас" Level="2">
  <Info>
    <Parent Key="b1176aef-088e-4a14-a97d-6490e1ef9b55">Navigation Menu</Parent>
    <Path>/NavigationMenu/ProNas1</Path>
    <Trashed>false</Trashed>
    <ContentType>navSection</ContentType>
    <CreateDate>2023-04-17T16:37:21</CreateDate>
    <NodeName Default="Про Нас" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ea898f4-e36f-4b05-86a8-ff9ddab5dbc7">NavSection</Template>
  </Info>
  <Properties />
</Content>