<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5768664-a590-4406-ba65-e7527482f619" Alias="Прославлення відео" Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Website</Parent>
    <Path>/Website/ProslavlennyaVDeo</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGallery</ContentType>
    <CreateDate>2023-07-31T17:30:04</CreateDate>
    <NodeName Default="Прославлення відео" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf5cbf00-3343-45c6-83c4-f98422f1c426">VideoGallery</Template>
  </Info>
  <Properties>
    <itemsPerRow>
      <Value><![CDATA[]]></Value>
    </itemsPerRow>
    <pageTitle>
      <Value><![CDATA[Прославлення відео]]></Value>
    </pageTitle>
  </Properties>
</Content>