<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad265a15-32ef-42bf-8da4-736b7caf8d14" Alias="Про нас (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ProNas1</Path>
    <Trashed Parent="08bb23fd-8f3d-42f2-b4bd-d744790e9d8c">true</Trashed>
    <ContentType>landingPageColumnsSection</ContentType>
    <CreateDate>2023-08-01T10:40:20</CreateDate>
    <NodeName Default="Про нас (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <itemPerRow>
      <Value><![CDATA[3]]></Value>
    </itemPerRow>
    <offset>
      <Value><![CDATA[]]></Value>
    </offset>
    <tone1>
      <Value><![CDATA[#bc3131]]></Value>
    </tone1>
    <tone2>
      <Value><![CDATA[#2cd535]]></Value>
    </tone2>
  </Properties>
</Content>