<?xml version="1.0" encoding="utf-8"?>
<Content Key="c40df0c2-f003-424c-87e6-8113bf05cfd0" Alias="Прослава (1)" Level="3">
  <Info>
    <Parent Key="a5768664-a590-4406-ba65-e7527482f619">Прославлення</Parent>
    <Path>/Website/Proslavlennya/Proslava1</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGalleryEntry</ContentType>
    <CreateDate>2024-06-21T14:17:19</CreateDate>
    <NodeName Default="Прослава (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Прослава ]]></Value>
    </description>
    <embeddedVideo>
      <Value><![CDATA[<p>&lt;iframe width="1170" height="658" src="https://www.youtube.com/embed/OoR_AYjnR2k" title="Ісус, Ти переміг | Victory Is Yours – Bethel Music | ReWorship Cover" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen&gt;&lt;/iframe&gt;</p>]]></Value>
    </embeddedVideo>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "b237ad01-e774-4558-bbf4-d8ef2df105eb",
    "mediaKey": "d91bc51b-0f50-4718-acb5-f2699565ecf0"
  }
]]]></Value>
    </thumbnail>
  </Properties>
</Content>