<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3fdb8ad-1625-4a08-b9a7-fb9ffaa8a233" Alias="Проповіді відео" Level="2">
  <Info>
    <Parent Key="e92ab31e-d692-402c-93b8-664f39c4959c">Website</Parent>
    <Path>/Website/PropovD1</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGallery</ContentType>
    <CreateDate>2023-04-25T12:48:57</CreateDate>
    <NodeName Default="Проповіді відео" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf5cbf00-3343-45c6-83c4-f98422f1c426">VideoGallery</Template>
  </Info>
  <Properties>
    <itemsPerRow>
      <Value><![CDATA[3]]></Value>
    </itemsPerRow>
    <pageTitle>
      <Value><![CDATA[Video Blogs]]></Value>
    </pageTitle>
  </Properties>
</Content>