<?xml version="1.0" encoding="utf-8"?>
<Content Key="10c53864-7c62-4984-bca8-9b85964bd2a1" Alias="Прослава" Level="3">
  <Info>
    <Parent Key="a5768664-a590-4406-ba65-e7527482f619">Прославлення відео</Parent>
    <Path>/Website/ProslavlennyaVDeo/Proslava</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGalleryEntry</ContentType>
    <CreateDate>2024-06-21T14:16:37</CreateDate>
    <NodeName Default="Прослава" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Прослава]]></Value>
    </description>
    <embeddedVideo>
      <Value><![CDATA[<p>&lt;iframe width="1170" height="658" src="https://www.youtube.com/embed/OoR_AYjnR2k" title="Ісус, Ти переміг | Victory Is Yours – Bethel Music | ReWorship Cover" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen&gt;&lt;/iframe&gt;</p>]]></Value>
    </embeddedVideo>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "5eda6faf-a182-49e0-92e2-5729cfb1d213",
    "mediaKey": "fcd3f7ea-3320-453b-98d7-17e437ff1b47"
  }
]]]></Value>
    </thumbnail>
  </Properties>
</Content>