<?xml version="1.0" encoding="utf-8"?>
<Content Key="b079b4ca-e575-414e-af80-8ac804e0c74d" Alias="Служіння Людям" Level="2">
  <Info>
    <Parent Key="b1176aef-088e-4a14-a97d-6490e1ef9b55">Navigation Menu</Parent>
    <Path>/NavigationMenu/SluzhNnyaLyudyam1</Path>
    <Trashed>false</Trashed>
    <ContentType>navSection</ContentType>
    <CreateDate>2023-04-13T11:34:15</CreateDate>
    <NodeName Default="Служіння Людям" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ea898f4-e36f-4b05-86a8-ff9ddab5dbc7">NavSection</Template>
  </Info>
  <Properties />
</Content>