<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9293b15-e893-4c7b-8fc8-4b082cc0f071" Alias="Ісус ти переміг" Level="3">
  <Info>
    <Parent Key="a5768664-a590-4406-ba65-e7527482f619">Прославлення відео</Parent>
    <Path>/Website/ProslavlennyaVDeo/susTiPeremG</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGalleryEntry</ContentType>
    <CreateDate>2023-07-31T17:33:46</CreateDate>
    <NodeName Default="Ісус ти переміг" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Ісус ти переміг]]></Value>
    </description>
    <embeddedVideo>
      <Value><![CDATA[<p>&lt;iframe width="1170" height="658" src="https://www.youtube.com/embed/OoR_AYjnR2k" title="Ісус, Ти переміг | Victory Is Yours – Bethel Music | ReWorship Cover" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen&gt;&lt;/iframe&gt;</p>]]></Value>
    </embeddedVideo>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "1ee22335-4fb2-43ff-899b-53f73c946a7b",
    "mediaKey": "fcd3f7ea-3320-453b-98d7-17e437ff1b47"
  }
]]]></Value>
    </thumbnail>
  </Properties>
</Content>